<!DOCTYPE html>
<html>

<head>
  <meta lang="pt-br">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home | Controle de Extintor</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
  <main>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
      <div class="container">
        <a class="navbar-brand" href="#">🧯Controle de Extintor</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/fabricante">Fabricantes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/extintor">Extintores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/vistoria">Vistoria</a>
            </li>
          </ul>
          <span class="navbar-text">

          </span>
        </div>
      </div>
    </nav>

    <section class="container ">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">N° de serie</th>
            <th scope="col">Capacidade</th>
            <th scope="col">Classe</th>
            <th scope="col">venc. recarga</th>
            <th scope="col">venc. teste hidroestatico</th>
          </tr>
        </thead>
        <tbody>
          {{#each extintores}}
          <tr class="ex-tabela">
            <th scope="row">
              <a href="/extintor/show/{{idExtintor}}" class="text-decoration-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-eye-fill" viewBox="0 0 16 16">
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                  <path
                    d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                </svg>
                {{numeroDeSerie}}
              </a>
            </th>
            <td>{{capacidadeNominal}}</td>
            <td>{{classeExtintor}}</td>
            <td>{{vencRecarga}}</td>
            <td>{{vencTesteHidroestatico}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </section>

    {{!-- <section class="container">
      <h3>Legenda</h3>
      <p><span class="bg-warning">&nbsp &nbsp &nbsp &nbsp</span> Os itens em amarelo estão perto do seu vencimento,
        devendo ter uma atenção maior.
        <br>
        <span class="bg-danger">&nbsp &nbsp &nbsp &nbsp</span> Os itens em vermelho, tiveram sua data de vencimento
        ultrapassada. item precisa ser verificado o mais rapido possivel
      </p>
    </section> --}}
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>